# requirements.txt (gere com: pip freeze > requirements.txt)
streamlit==1.55.0
crewai==1.10.1
crewai-tools==1.10.1
crewai[google-genai]
crewai[litellm]
litellm>=1.0.0
python-dotenv==1.1.1
python-docx==1.2.0
openpyxl==3.1.5
xlrd==2.0.2
pandas==2.3.3
pypdf==6.7.5